@charset "UTF-8";

header {
	background: #0000ff;
	height: 80px;
	line-height: 80px;
	color: #fff;
	font-size: 30px;
	text-align: center;
}

nav {
	background: #0088ff;
	height: 40px;
	line-height: 40px;
	color: #fff;
	font-size: 16px;
	text-align: left;
}

section {
	background: #eaeaea;
	min-height: 500px;
	line-height: 30px;
	font-size: 16px;
}

footer {
	background: #0000ff;
	height: 60px;
	line-height: 60px;
	color: #fff;
	font-size: 16px;
	text-align: center;
}

a {
	text-decoration: none;
	color: #fff;
}
