
@charset "UTF-8";

* {
	margin: 0;
	padding: 2px;
}

td {
	padding: 0;
}

nav a {
	text-decoration: none;
	color: #fff;
}

section a {
	color: #000;
}

header {
	background: #ff00ff;
	height: 90px;
	line-height: 90px;
	color: #fff;
	font-size: 30px;
	text-align: center;
}

nav {
	background: #00ff;
	height: 40px;
	line-height: 40px;
	color: #fff;
}

section {
	min-height: 500px;
	background: #e2e2e2;
}

footer {
	background: #ff00ff;
	height: 40px;
	line-height: 40px;
	color: #fff;
}

