@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* background: radial-gradient(ellipse at bottom, #3f5e82 0%, #090b12 100%); */
	/*background: rgb(192, 192, 192);*/
	overflow: hidden;
}

hr {
	border: 1px solid #444;
}

table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background: #444;
    color: #fff;
    font-weight: bold;
}

td {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
}

/* 홀수 행에 대한 스타일 */
tr:nth-child(odd) {
    background-color: #e0e0e0;
}

/* 호버 효과 */
tr:hover {
    background-color: #d0d0d0;
}

/* practice1 */
.practice1 {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.practice1 a {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    border: 2px solid transparent;
}

.practice1 a:hover {
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
    border: 2px solid #444; /* 호버 시 테두리 추가 */
}

.practice1 a::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: #27282c;
}

.practice1 a span {
    position: relative;
    z-index: 1;
}

.practice1 a i {
    position: absolute;
    inset: 0;
    display: block;
}

.practice1 a i::before {
    content: '';
    position: absolute;
    top: -3.5px;
    left: 80%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

.practice1 a:hover i::before {
    width: 20px;
    left: 20%;
}

.practice1 a i::after {
    content: '';
    position: absolute;
    bottom: -3.5px;
    left: 20%;
    width: 10px;
    height: 5px;
    border: 2px solid var(--clr);
    background: #27282c;
    transform: translateX(-50%);
    transition: 0.5s;
}

.practice1 a:hover i::after {
    width: 20px;
    left: 80%;
}
